.counter__container {
  background-color: #f5f5f5;
}

.counter__app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.count {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.count > h3 {
  font-size: 3.2rem;
}
.count > p {
  font-size: 2rem;
}
.counter__icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
