.hero__container {
  display: flex;
  flex-direction: row;
}
.hero__col {
  flex: 50%;
  flex-wrap: wrap;
  position: relative;
}
.hero__shift {
  margin-left: 300px;
}
.hero__desc {
  padding: 2rem 4rem;
}
.hero__title {
  font-size: 3.5rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.hero__desc > p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.1;
}
.hero__imgContainer {
  position: relative;
}
.hero__img {
  position: relative;
  bottom: 30px;
  height: 90%;
  z-index: 1;
}
.office__img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50%;
}
.hero__icons {
  display: flex;
  position: absolute;
  top: 8%;
  z-index: 3;
  left: 44%;
  font-size: 2rem;
}
.hero__btn {
  width: 30%;
  border: none;
  background: #721121;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #fff;
  border-radius: 5px;
}
.hero__btn:hover,
.hero__btn:active {
  cursor: pointer;
  background-color: #326273;
}

.hero__subDesc {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #721121;
}
