.main__svg {
  position: absolute;
  bottom: -10%;
}
.main__sec {
  background-color: #721121;
  padding: 2rem;
}
.main__row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main__col {
  flex: 50%;
  color: #fff;
}
.main__caption h2 {
  padding-right: 2rem;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}
.main__caption p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.main__content_row {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
}
.main__content_col {
  flex: 50%;
}
.main__content_col article {
  padding: 1rem;
}
.main__content_icon {
  margin-right: 1rem;
}
