.menu__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
}
.menu__icon:hover,
.menu__icon:active {
  background-color: #f3d8c7;
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.nav__brand {
  display: flex;
  padding: 1rem 4rem;
}
.nav__brand h1 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}
